body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
.comments_panel{
	width: auto;
	height:auto;	
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
	background-color:#fbfdfc;
	border:1px #dedede solid;
}
.comments_panel a{
        color: #1B97F2;
	text-decoration: none
}
.comments_out {
	width: 75%;
	height:auto;	
	background-color:white;
	text-align: justify;
}
.comments_middle{
	width:100%;
	height:auto;
	background:#efefef;
	padding:10px;
	padding-bottom:10px;
}


.pagination {
  background: white; 
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 25em;
    margin-bottom: .3em;
    text-align: center; }
    .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }


  .loading_pages{
    margin: 3px;
    width: 25px;
    height: 25px;
    background: none;
}
.adding_comment{
    margin: 3px;
    width: 100px;
    height: 10px;
    background: none;
}